.pokedex {
	max-width: 1040px;
	display: grid;
	grid-template-columns: 35% 65%;
	padding: 100px 0;
	margin: 0 auto;

	@media screen and (max-width: 735px) {
		grid-template-columns: 100%;
		padding: 50px 0;
	}
}