<div class="pokemon-details">
	<md-card class="pokemon-details__card" *ngIf="!isLoading">
			<md-card-header>
				<div 
					class="pokemon-details__thumb"
					md-card-avatar 
					[ngStyle]="{ 'background-image': 'url(' + pokemon.sprites.front_default + ')' }"></div>
				<md-card-title>{{ pokemon.id }}: {{ pokemon.species.name }}</md-card-title>
				<md-card-subtitle>
					Type:
					<span *ngFor="let type of pokemon.types">{{ type.type.name }}</span>
				</md-card-subtitle>
			</md-card-header>
			<md-card-content>
				<div class="pokemon-details__abilities">
					<h4>Abilities</h4>
					<ul>
						<li *ngFor="let ability of pokemon.abilities">{{ ability.ability.name }}</li>
					</ul>
				</div>
				<div class="pokemon-details__moves">
					<h4>Moves</h4>
					<ul>
						<li *ngFor="let move of pokemon.moves">{{ move.move.name }}</li>
					</ul>
				</div>
			</md-card-content>
			<md-card-actions>
				<button md-button color="primary">More</button>
			</md-card-actions>
		</md-card>
</div>