.pokemon-details {
	padding-left: 50px;

	@media screen and (max-width: 735px) {
		margin-top: 20px;
		padding: 0 50px;
	}

	&__card {

		&-thumb {
			width: 80px;
			height: 80px;
			background-size: cover;
			background-position: center;
		}

		&-title {

			small {
				color: #BBBBBB;
				font-size: 16px;
			}
			
			h1 {
				text-transform: capitalize;
			}
		}
	}

	.basic-information {
		padding-top: 25px;
	}

	.mat-chip {
		text-transform: capitalize;
	}
}