.pokemon-details {
	padding-left: 50px;

	@media screen and (max-width: 735px) {
		margin-top: 20px;
		padding: 0 50px;
	}

	&__thumb {
		background-size: cover;
		background-position: center;
	}
	
	&__name {
		text-align: center;
	}
}