<div class="pokemon-details">
	<md-card class="pokemon-details__card">
		<md-card-header>
			<div 
				class="pokemon-details__card-thumb"
				md-card-avatar 
				[ngStyle]="{ 'background-image': 'url(' + pokemon.sprites.front_default + ')' }"></div>
			<md-card-title class="pokemon-details__card-title">
				<small>#{{ pokemon.id }}</small>
				<h1>{{ pokemon.species.name }}</h1>
			</md-card-title>
			<md-card-subtitle>
				<md-chip-list>
					<md-chip *ngFor="let type of pokemon.types">{{ type.type.name }}</md-chip>
				</md-chip-list>
			</md-card-subtitle>
		</md-card-header>
		<md-card-content>
			<md-tab-group dynamicHeight="true">
				<md-tab label="Basic Information">
					<md-list>
						<md-list-item>Weight: {{ pokemon.weight }}</md-list-item>
						<md-list-item>Height: {{ pokemon.height }}</md-list-item>
					</md-list>
				</md-tab>
				<md-tab label="Stats">
					<canvas 
						class="pokemon-details__radar-chart"
						baseChart
						[datasets]="radarChartData"
						[labels]="radarChartLabels"
						chartType="radar"></canvas>
				</md-tab>
				<md-tab label="Abilities">
					<md-list>
						<md-list-item *ngFor="let ability of pokemon.abilities">{{ ability.ability.name }}</md-list-item>
					</md-list>
				</md-tab>
				<md-tab label="Moves">
					<md-list>
						<md-list-item *ngFor="let move of pokemon.moves">{{ move.move.name }}</md-list-item>
					</md-list>
				</md-tab>
			</md-tab-group>
		</md-card-content>
	</md-card>
</div>